@import "tailwindcss";

/* ===== ROOT ===== */
:root {
  --primary: #0f172a;        /* navy */
  --accent: #2563eb;         /* blue */
  --bg: #f1f5f9;             /* light bg */
  --card: #ffffff;
  --border: #e2e8f0;
  --text: #0f172a;
  --muted: #64748b;
  --danger: #ef4444;
  --success: #16a34a;
}

/* ===== PAGE ===== */
body {
background-color: var(--bg) !important;
  color: var(--text);
  font-family: Inter, sans-serif;
}

.erp-page {
  padding: 24px 32px;
}

/* ===== CARD ===== */
.custom-card {
  background: var(--card);
  border-radius: 16px;
  padding: 24px;
  border: 1px solid var(--border);
  box-shadow: 0 8px 24px rgba(0,0,0,0.05);
}

/* ===== TITLES ===== */
.section-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 16px;
}

/* ===== HEADER ROW ===== */
.field-header {
    background: #c5def7;
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 12px 16px;
    font-size: 13px;
    font-weight: 600;
    color: #060c14;
}

/* ===== FIELD ROW ===== */
.field-row {
  background: #f1f5f9;
  border-radius: 12px;
  padding: 14px;
  border: 1px solid var(--border);
  transition: all 0.2s ease;
}

.field-row:hover {
  border-color: var(--accent);
  box-shadow: 0 4px 16px rgba(37, 99, 235, 0.1);
}

/* spacing */
.field-row + .field-row {
  margin-top: 10px;
}

/* ===== INPUTS ===== */
.form-control,
.form-select {
  background: #ffffff !important;
  border: 1px solid var(--border) !important;
  border-radius: 10px !important;
  color: var(--text) !important;
  font-size: 14px;
  padding: 8px 12px;
}

.form-control::placeholder {
  color: var(--muted);
}

.form-control:focus,
.form-select:focus {
  border-color: var(--accent) !important;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15) !important;
}

/* ===== ADD BUTTON ===== */
.add-btn {
  background: #113079;
  color: #fff;
  border-radius: 999px;
  padding: 8px 18px;
  border: none;
  font-size: 14px;
  transition: 0.3s;
}

.add-btn:hover {
  background: #020617;
}

/* ===== REMOVE BUTTON ===== */
.remove-icon-btn {
  background:  var(--danger);
  color: #fef2f2;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-icon-btn:hover {
  background: #d4d4d4;
  color:  var(--danger);
}

/* ===== SAVE BUTTON ===== */
.save-btn {
  background: var(--success);
  color: #fff;
  border-radius: 999px;
  padding: 10px 22px;
  border: none;
  font-weight: 500;
}

.save-btn:hover {
  background: #15803d;
}

.text-primary {
    --bs-text-opacity: 1;
    color: #063b89 !important;
}.login-select {
  width: 220px !important;
  height: 36px;
  font-size: 14px;
  border-radius: 8px !important;
}

